<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Li Xian's Website</title>
        <meta name="description" content="My Personal Website">
        <meta name="author" content="Li Xian">

        <link rel="stylesheet" href="../css/app.css">

    </head>

    <body>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../index.html">About me</a></li>
                <li><a href="../static/chailixian.pdf" target="_blank">Resume</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div id = "contact">
            <h1>Contact</h1>
            <p>Mobile Number: +65 9138 2524</p>
            <p>Email: chai0130@e.ntu.edu.sg</p>
            <p>LinkedIn: https://www.linkedin.com/in/lixianchai</p>
        </div>

    </body>
</html>
