<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Li Xian's Website</title>
        <meta name="description" content="My Personal Website">
        <meta name="author" content="Li Xian">

        <link rel="stylesheet" href="../css/app.css">

    </head>

    <body>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../index.html">About me</a></li>
                <li><a href="../static/chailixian.pdf" target="_blank">Resume</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div id = "projects">
            <br>
            <h1>Projects</h1>
            <div class ="flex-container">
                <div class = "intro">
                    <h3>All these are CS50W/CS50G personal projects that I did in my free time.</h3>
                </div>
                <div class = "flex-item flex-item-1">
                    <h3>Project 1 - Book Review Website</h3>
                    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/6nbaZScP_O4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                    <p>
                        This is a simple book review website. It allows users to search for books according to specific
                        ratings/ reviews, and it also allows users to add their own reviews. In addition, it consists of the 
                        basic register and log in functions. In addition, we were supposed to generate an API for the books for 
                        anyone to access it. This website makes use of the Python-Flask microweb framework and it uses a static csv
                        file as database. I chose this project because prior to this, I had never built a web application before. As such, it will
                        be a good learning opportunity. From this project, I managed to learn how to use the Flask microweb framework 
                        to build a simple web application. 
                        <br>
                        <br>
                        To expand on this project, I can explore using other databases that are non-static. For instance, we
                        can connect this application to an SQL server and makes use of relational database. In addition, anotherarea that we 
                        can improve on is the user interface design.
                    </p>
                </div>
                <div class = "flex-item flex-item-2">
                    <h3>Project 2 - Instant Messenger</h3>
                    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/2_TWZreG_iI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                    <p>
                        This instant messenger is another Python-Flask project that uses quite a substantial bit of Javascript. I chose this project because I thought that this is a pretty interesting yet challenging project idea to implement. 
                        From this project, I learnt about Javascript and the idea of session to manage different rooms for different grouops of users to have their 
                        conversations concurrently.
                        <br>
                        <br>
                        To expand on this project, I can explore the idea of memory management as right now, the messages are stored in a 
                        dictionary. In addition, the extra feature added which is the deletion of message is not very stable due to synchronisation 
                        issues. As such, more can be done to take this project further.
                    </p>
                </div>
                <div class = "flex-item flex-item-3">
                    <h3>Project 3 - Fifty Bird</h3>
                    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/N93sg_LKm0A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                    <p>This is a CS50G Assignment and the spritesheets are from the assignment. The game is built using LOVE framework. 
                        I added the different medal options after a certain amount of score has been obtained. This is my first game and so I learnt 
                        about LOVE and the idea of state machines here.
                        <br>
                        <br>
                        To expand on this project, I can allow the bird to fly at different speed to alter the difficulty level
                        of the game. In addition, I can also introduce more obstacles. 
                    </p>
                </div>
                <div class = "flex-item flex-item-4">
                    <h3>Project 4 - Pong</h3>
                    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/AAYNP6iRIlU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                    <p>
                        This is a CS50G Assignment and the spritesheets are from the assignment. I chose this game to do because it is 
                        fascinating how the idea of gravity can be used to create a really fun game. For this project, I added a new power up 
                        and also introduce more balls into the game.
                        <br>
                        <br>
                        To expand on this project, I can introduce a variety of obstacles and also more power ups.
                    </p>
                </div>
            </div>
        </div>

    </body>
</html>
